



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript" src="https://unpkg.com/vue-simple-suggest"></script>




<input type=hidden id="getWWWRoot" value="$$place_holder1$$"/>
<input type=hidden id="getVariable" value="$$place_holder2$$"/>

<div id="app" class="row" >

    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
        <label class="d-inline word-break" id="nugget_search">Recherche d'ADN par mots clefs: </label>
    </div>

    <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="text">
        <vue-simple-suggest
            size="48"
            v-model="typed"
            @input="onInput">
        </vue-simple-suggest>
    </div>

    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
              <i v-if="selected_id" class="d-inline word-break" id="nugget_search_info1">Blabla </i>
              <i v-if="(!selected_id && posts.length > 0)" class="d-inline word-break" id="nugget_search_info2">Blabla </i>
              <i v-if="(!selected_id && typed.length > 0 && posts.length == 0)" class="d-inline word-break" id="nugget_search_info3">Blabla </i>
    </div>

  <div class="row nugget-display" v-for="i in Math.ceil(posts.length / 3)">
        <nugget-post
          v-for="(post,index) in posts.slice((i - 1) * 3, i * 3)"
          v-bind:key="index"
          v-bind:post="post"
          v-bind:class="{'card-selected':(post.nugget_id == selected_id)}"
          v-on:click.native="clickOnNugget(post)"
        ></nugget-post>
  </div>


</div>
<br>

<script type="module" src="../mod/naas/assets/nuggetSearchWidget.js"></script>


<!-- 


<script type="text/javascript" src="https://unpkg.com/vue-simple-suggest@1.5.1"></script>
<script type="text/javascript" src="https://unpkg.com/vue-simple-suggest/dist/iife.js"></script>

-->