.path-mod-url .resourcecontent {
    text-align: center;
}

.nugget-display {
  width: 100%;
}

.nugget-post {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  padding: 10px;
  margin: 10px;
}

.nugget-post:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.card-selected {
  background: #A6C3FE;
}
